/*
 * General Styling
 */
a {
    color: black;
    text-decoration: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
 * Extra Menu Styling
 */
#menu .selected { background-color: #fff; }

/* get rid of border */
#layout #menu .pure-menu ul { border-top: none; }

/*
 * Extra form styling for inline navbar-forms (make buttons look like <li>
 */
.navbar-form button {
    background-color: transparent;
    color: #999;
    width: 100%;
    text-align: left;
    padding: 0.6em 0 0.6em 0.6em;
    border-radius: 0;
}

.navbar-form button:hover {
    background-color: #333;
}

/*
 * Styling of discussion page
 */
.discussions {
    text-align: center;
}

@media screen and (min-width: 48em) {
    .discussions {
        text-align: left;
    }
}

.discussion-grid:hover {
    background-color: lightgray;
    cursor: pointer;
}

.discussion-grid:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.discussion-grid {
    padding: 10px;
}

.discussion-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*
 * Pagination
 */
.pagination {
    display: flex;
    flex-direction: row;
}

.pagination li {
    list-style-type: none;
    background-color: darkslateblue;
    border: 1px solid white;
    padding: 0.3em;
}

.pagination li a {
    color: white;
}

.error-404 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.smiley-404 {
    margin-right: 1em;
    font-size: 180%;
}

/*
 * details for post site
 */
.button-warning {
    color: white;
    border-radius: 4px;
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-xsmall {
    font-size: 70%;
}

.post-title-bar {
    margin-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px dashed #999;
}
