/*
 * General Styling
 */
a {
    color: black;
    text-decoration: none;
}

/*
 * Extra Menu Styling
 */
#menu .selected { background-color: #fff; }

/*
 * Styling of discussion page
 */
.discussions {
  text-align: center;
}

@media screen and (min-width: 48em) {
    .discussions {
        text-align: left;
    }
}

.discussion-grid:hover {
    background-color: lightgray;
    cursor: pointer;
}

.discussion-grid:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.discussion-grid {
    padding: 10px;
}

/*
 * Extra form styling for inline navbar-forms (make buttons look like <li>
 */
.navbar-form button {
    background-color: transparent;
    color: #999;
    width: 100%;
    text-align: left;
    padding: 0.6em 0 0.6em 0.6em;
    border-radius: 0;
}

.navbar-form button:hover {
    background-color: #333;
}
